/public/build
auth.json
/node_modules
/public/hot
/public/storage
/public/js/*
/public/css/*
/public/fonts/*
/public/images/*
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.sentryclirc
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.DS_Store
Thumbs.db
/.idea
/.vscode
composer.phar